@model FastFood.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<div class="container">
    <h2 class="text-primary">Create Category</h2>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>